// ----------------------------IMPORTS--------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Roboto+Slab:wght@300;400;700&display=swap');
@import "responsive.scss";
// ------------------------VARIABLES------------------------------

$colorPrincipal : #f9b114;
$colorLetras: #fff;
$colorSecundario: #c5161c;
// ------------------------------------------------------

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//-------------- LOADER

// -----------------------------------HEADBOARD INICIO-----------------------------------
.cabecera {
    height: 50px;
    background-color: $colorPrincipal;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(123deg, rgba(255,255,255,1) 0%, rgba(252,176,69,1) 43%, rgba(252,176,69,1) 100%);
    

    .icons {
        display: flex;
        align-items: center;
        height: 50px;
        width: 500px;
        justify-content: center;
        
        a {
            text-decoration: none;

            img {
                height: 20px;
                margin-right: 10px;
            }
        }
    }

    .textoCabecera {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}
.img-logo{
    height: 10%;
    width: 10%;
}
// -----------------------------------HEADBOARD FIN-----------------------------------
// -----------------------------------NAV INICIO-----------------------------------
.navbar {
    height: 150px;
    background-color: $colorLetras !important;
    width: 100%;
    display: flex;
    justify-content: center !important;

    .navbar-brand {
        display: flex;
        justify-content: center;
    }
        img {
            height: 50px;
            }

    .navbar-nav {
        display: flex;
        justify-content: space-between;

        .nav-item{
            display: block;
            
            
        .nav-link {
            font-weight: bold;
            margin-left: 10px;
        }
    }
        .contacto {
            background-color: $colorPrincipal;
            border-radius: 10px 10px 10px 10px;
            padding: 10px 30px;
        }
    }
}

.navbar-collapse {
    z-index: 100;
}
// -----------------------------------NAV FIN-----------------------------------


// -----------------------------------WPP ICON-----------------------------------
#wp-icon {
    height: 60px;
    position: fixed;
    right: 50px;
    bottom: 80px;
    z-index: 100;
}

// -----------------------------------HERO INICIO-------------------------------
.contenedor {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "texto imagen";
}

    .texto{
    display: flex;
    justify-content: center;
    align-content: center;
    
    .contenedorTexto { grid-area: texto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;

    h1 {
        font-size: 12vh;
    }
    a{
        display: inline-block;
        max-width: 180px;
    }
    .t1 {
        font-weight: lighter;
    }
    .t2 {
        font-weight: bolder;
    }
    .t3 {
        font-weight: bolder;
        color: $colorPrincipal;
    }
    .borderR{
    background-color: $colorPrincipal;
            text-decoration: none;
            color: $colorLetras;
            padding: 10px 30px;
            border-radius: 81px 0px 78px 81px / 78px 0px 81px 78px;
        }
    }
}
.imagen { grid-area: imagen;
    background-image: url(../img/PVC-3-11.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
// -----------------------------------HERO FIN-------------------------------
// -----------------------------------WHY CHOSE SECCION INICIO-----------------------------------
.whyschose {
	background: $colorLetras;
    padding-top: 85px;
}


.title {
	text-align:center;
	padding-bottom: 60px;

}

.title h2 {
	font-size: 50px;
	line-height: 55px;
	color: $colorPrincipal;
	font-weight: 500;
	text-transform: uppercase;
    margin-bottom: 27px;
    position: relative;
    padding-bottom: 8px;
}
.title h2:after {
	position: relative;
content: '';
top: 100%;
width: 110px;
height: 10px;
display: block;
margin: 0 auto;
background: #000;
}

.title span{
color:#070500;
font-size: 28px;
line-height: 28px;
margin-top: 20px;
}
.black {
	font-weight: 500;
	color:#070500;
}

.choose_bg {
	background: $colorPrincipal;
}


.choose_bg .white_bg  {
	background: $colorLetras;
	padding: 40px 20px;
	box-shadow: #ddd 0px 0px 10px 3px;
	margin-bottom: 5px;
}
.choose_bg .white_bg .for_box {
	text-align: center;
	padding: 1px ;
}
.choose_bg .white_bg .for_box i {display:block;}
.choose_bg .white_bg .for_box h3 {
	font-size: 26px;
    line-height: 21px;
	color: #070500;
	padding: 25px 0px 15px 0px ;
	display: inline-block; 
}

.choose_bg .white_bg .for_box p {
	color: #0d0c0a;
	font-size: 17px;
	line-height: 28px;
}

.read-more  {
	width: 190px;
margin: 0 auto;
background: $colorLetras;
display: block;
border: $colorPrincipal solid 2px;
text-align: center;
padding: 10px 0px;
color: #0a0401 !important;
font-size: 20px;
margin-top: 40px;
}
.read-more:hover {
	background: $colorPrincipal;
	color: #0a0401;
}

// ------------------------------FIN POR QUE ELEGIRNOS SECCION--------------------------------

// ------------------------------SECCION PRODUCTS INICIO---------------------------------
.product {
	background: $colorLetras;
	padding-top: 60px;
}

.product-box img {
    height: auto;
    width: 100%;
}

.product .title {
	text-align:left;
	padding-bottom: 60px;
}

.product .title h2 {
	font-size: 50px;
	line-height: 55px;
	color: $colorPrincipal;
	font-weight: 500;
	text-transform: uppercase;
    margin-bottom: 27px;
    position: relative;
    padding-bottom: 8px;
}

.product .title h2:after {
	position: absolute;
    border-bottom: #000 solid 10px;
    content: '';
    top: 100%;
    width: 110px;
}

.product .title span{
color:#070500;
font-size: 22px;
line-height: 28px;
margin-top: 20px;
}

.product-bg {
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/82657c91572759.5e353caeb0060.jpgx);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.product-bg-white {
	background: #ffffffbd;
	box-shadow: #00000040 0px 0px 25px 0px;
	padding-top: 80px;
	padding-bottom: 60px;
    height: auto;
}
.product-bg .product-bg-white .product-box {
    background: #ddd;
    text-align: center;
    margin-bottom: 30px;
    padding: 1em 2em;
}
    .product-bg .product-bg-white .product-box i img {width: 100%;}
    .product-bg .product-bg-white .product-box:hover {
    background: $colorPrincipal;
}

.product-bg .product-bg-white .product-box  h3 {
	color: #020000;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	padding-top: 15px;
}

.product-bg .product-bg-white .product-box span {
	color: #020000;
	font-weight: 500;
	font-size: 22px;
	line-height: 22px;
}
.product-bg .product-bg-white .product-box span:hover {
	color: $colorLetras;
}

.materiaPrima {
    background: #ffffffbd !important;
	box-shadow: #00000040 0px 0px 25px 0px;
    height: auto;
    h3, p {
        text-align: center;
        top: 50%;
        transform: translateY(50%);
    }
    p{
        color: #000;
        text-align: left;
        padding-bottom: 30px;
    }
}
// ----------------------------SECCION PRODUCTS FIN---------------------------------
// ----------------------------MAP INICIO---------------------------------
.map iframe {
	width: 100%;
    padding:0px;
}

.padi {
	padding: 0px ;
}

.table {
    width: 100%;
}

// ------------------------------MAP FIN----------------------------------
// -----------------------------BUDGET SECCION INICIO----------------------------------
.yellow_bg {background: $colorPrincipal; 
	padding: 40px 30px; 
	margin-top: 100px;
}

.yellow_bg .yellow-box h3 {
	color: $colorLetras; 
	font-size: 31px; 
	font-weight: bold; 
	display: inline-block; 
	padding-bottom: 6px;
}
.yellow_bg .yellow-box i {padding-bottom: 10px; padding-left: 15px;	}
.yellow_bg .yellow-box p {
	font-size: 22px; 
	line-height: 28px; 
	color: #010101;
}
.yellow_bg .yellow-box a {
	background: #000;
    border-radius: 30px;
    max-width: 344px;
    width: 100%;
    font-size: 31px;
    line-height: 33px;
    color: $colorLetras;
    padding: 16px 73px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-top: 17px;
    font-weight: 500;
}
// -------------------------------BUDGET SECCION FIN--------------------------------

// ------------------------------FOOTER INICIO---------------------------------

.footer {
	background: #1b1b1b;
    padding-top: 70px;
}
ul.sociel {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	margin: 0 auto;
}
ul.sociel li {
	display: inline-block;
	padding:0px 10px;
	}

ul.sociel li a {
color: #fff;
width: 50px;
height: 50px;
float: left;
text-align: center;
line-height: 50px;
border-radius: 100%;
font-size: 18px;
}

ul.sociel li a:hover {
	color: $colorLetras;
width: 50px;
height: 50px;
background: #181201;
float: left;
text-align: center;
line-height: 50px;
border-radius: 100%;
font-size: 18px;

}

.contact {
	margin-top: 50px;
}

.contact h3 {
	color: $colorLetras;
	font-weight: 500;
	font-size: 28px;
    line-height: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.contact span {
	color: $colorLetras;
	font-size: 17px;
	line-height: 27px;
}

ul.lik li a {
	color: #fff;
	font-size: 17px;
	line-height: 27px;
}

ul.lik li a:hover {
	color: $colorPrincipal;
}

.copyright {
	background-color: $colorPrincipal;
	padding: 20px 0px;
	margin-top: 70px;
}

.copyright p {
	color: #023023;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.copyright a{
    color: $colorLetras;
    text-decoration: none;
}

.copyright a:hover {
	color: $colorSecundario;
}

.foo2 {
    width: 100% !important;
}

// --------------------------------FOOTER FIN------------------------------

// PAGES-----------------------------------

.bg-secciones{
    background-color: $colorPrincipal;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(241deg, rgba(255,255,255,1) 0%, rgba(249,177,20,1) 21%);
        h2{
            color: black;
            font-weight: bold;
            font-size: 50px;
            text-align: center;
            text-shadow: #4d4d4d 1px 1px 0;
        }
}

.contact .main_form {
    background: #fff;
    padding: 40px;
} 

.form-control {
    border: $colorPrincipal solid 2px;
    border-radius: inherit;
    margin-bottom: 30px;
    padding: 13px 20px;
    font-family: poppins;
}

.form-control:focus {
    box-shadow: inherit;
    border: $colorPrincipal solid 2px !important;
}

.textarea {
    font-family: poppins;
    border: $colorPrincipal solid 2px;
    margin-bottom: 30px;
    padding: 13px 20px;
    width: 100%;
    padding-top: 40px;
} 

.send {
    font-family: poppins;
    max-width: 212px;
    margin: 0 auto;
    display: block;
    background: #000;
    color: #fff;
    padding: 12px 0px;
    width: 100%;
    font-size: 17px;
}

.send:hover {
    background: $colorPrincipal;
}

.product_page .title {
    text-align: center;
}

.about {
    padding-top: 90px;
}

.about .about_box figure {
    margin: 0;
}

.about .about_box figure img {
    width: 100%;
}

.about .about_box h3 {
    color: #000; 
    font-weight: bold; 
    font-size: 30px; 
    line-height: 35px;
}

.about .about_box p {
    color: #000; 
    font-size: 17px; 
    line-height: 23px; 
    padding-top: 10px;
}
// ------------------------------FORM FIN--------------------------------

// -----------------------------MEDIAQ------------------------------

// ----------------------------------- ANIMATIONS-------------------------
.contenedorTexto h1, h2{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
.contenedorTexto p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
.contenedorTexto a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.imagen img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
h1, h2, .contenedorTexto p, .contenedorTexto a, .imagen {-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
    from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    }
    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

